This project contains both Jest and Playwright tests. 
Make sure to never delete existing functionality.
Be very careful when working with tests, not to change the functionality of the app.
when writing tests, first inspect other tests to maintain consistency. 
When adding text, don't forget to use localization files and support both English and Hebrew.