This project contains both Jest and Playwright tests (/Users/elad.moshe/my-code/SpellingQuiz/tests/). 
Make sure to never delete existing functionality.
Be very careful when working with tests, not to change the functionality of the app.
when writing tests, first inspect other tests to maintain consistency. 
When adding text, don't forget to use localization files and support both English and Hebrew.
Avoid over complicating things if not absolutely necessary. Try to find a minimal solution that works, don't be too eager to add more libraries and complex solutions. 
Be mindful for Typescript errors and types. 
Make sure all Typescript source codes are under the js/ as the root folder.
We are deploying to GitHub Pages, so the base URL is /spelling-quiz-game/. We are using Github Actions to build and deploy. Make sure you take that into account in parallel to making the app work locally.
When deleting code, ensure you have not removed any functionality.